@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700');

.message {
    font-weight: 600;
    color: blue;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}


.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.child {
    display: inline-block;
}

.init-button {
    display: block;
    width: 115px;
    height: 25px;
    background: #61c245;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.shutdown-button {
    display: block;
    width: 115px;
    height: 25px;
    background: #c24545;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.tutorial-button {
    display: inline;
    width: 115px;
    height: 25px;
    background: #45c2a1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.button {
    display: inline;
    width: 115px;
    height: 25px;
    background: #e3b51c;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.move_button {
    width: 25%;
    height: 15px;
    background: #1ce326;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.button_div {
    padding-top: 20px;
}

p {
    font-size: 20px;
}

.container {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}

.battery {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 0%;
}