{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Control Pane</h1>
    <p>The robot has been initialized</p>
    <div>
        <a href=pre-recorded class="button">Pre Recorded Movements</a>
        <a href=record-new class="button">Record New Movement</a>
        <a href=tutorial class="tutorial-button">?</a>
    </div>
    <div>
        <button id="startWalk" class="move_button">Press to Begin Walking</button>
        <button id="stopWalk" class="move_button">Press to Stop Walking</button>
        <p id="walkMessage"></p>
    </div>
    <div>
        <button id="closeHand" class="move_button">Press to Close Left Hand</button>
        <button id="openHand" class="move_button">Press to Open Left Hand</button>
        <button id="stopHand" class="move_button">Press to Stop Left Hand</button>
    <p id="handMessage"></p>
    </div>
    <script>

    function clearQueue() {
        localStorage.removeItem("queue");
    }
    window.onload = clearQueue

    var button = document.getElementById("startWalk");
        button.addEventListener("click", function (e) {
            console.log("Starting walk");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('walkMessage').innerHTML = request.response;
            };
            request.open("GET", "/walk-start", true);
            request.send();
        });

        var stopWalkButton = document.getElementById("stopWalk");
        stopWalkButton.addEventListener("click", function (e) {
            console.log("Finishing walk");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('walkMessage').innerHTML = request.response;
            };
            request.open("GET", "/walk-stop", true);
            request.send();
        });

        var openHandButton = document.getElementById("openHand");
        openHandButton.addEventListener("click", function (e) {
            console.log("Opening Hand");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('handMessage').innerHTML = request.response;
            };
            request.open("GET", "/open-hand/", true);
            request.send();
        });

        var closeHandButton = document.getElementById("closeHand");
        closeHandButton.addEventListener("click", function (e) {
            console.log("Closing Hand");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('handMessage').innerHTML = request.response;
            };
            request.open("GET", "/close-hand/", true);
            request.send();
        });

        var stopHandButton = document.getElementById("stopHand");
        stopHandButton.addEventListener("click", function (e) {
            console.log("Stopping Hand");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('handMessage').innerHTML = request.response;
            };
            request.open("GET", "/stop-hand/", true);
            request.send();
        });
    </script>
{% endblock %}