{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Control Pane</h1>
    <p id =descriptor>The robot has been initialized</p>
    <div>
    <div>
        <a href=tutorial class="tutorial-button">Help</a>
    </div>

    <a href=pre-recorded class="button">Execute Movements</a>
        <a href=record-new class="button">Record New Movement</a>
    <button id="walk" class="walk_button">Press to Begin Walking</button>
        <button id="closeHand" class="move_button">Close Left Hand</button>
        <button id="openHand" class="move_button">Open Left Hand</button>
        <button id="stopHand" class="move_button">Stop Left Hand</button>
    <p id="handMessage"></p>
    </div>
    <script>

    function clearQueue() {
        localStorage.removeItem("queue");
    }
    window.onload = clearQueue

    var button = document.getElementById("walk");
        button.addEventListener("click", function (e) {
            console.log("Walk clicked");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('descriptor').innerHTML = request.response;
            };
            request.open("GET", "/walk-toggle", true);
            request.send();
        });

        var openHandButton = document.getElementById("openHand");
        openHandButton.addEventListener("click", function (e) {
            console.log("Opening Hand");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('handMessage').innerHTML = request.response;
            };
            request.open("GET", "/open-hand/", true);
            request.send();
        });

        var closeHandButton = document.getElementById("closeHand");
        closeHandButton.addEventListener("click", function (e) {
            console.log("Closing Hand");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('handMessage').innerHTML = request.response;
            };
            request.open("GET", "/close-hand/", true);
            request.send();
        });

        var stopHandButton = document.getElementById("stopHand");
        stopHandButton.addEventListener("click", function (e) {
            console.log("Stopping Hand");
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('handMessage').innerHTML = request.response;
            };
            request.open("GET", "/stop-hand/", true);
            request.send();
        });
    </script>
{% endblock %}