<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename = 'buttons.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <div class="button_div">
        <a href="" class="shutdown-button" id="shutdownButton">SHUTDOWN</a>
    </div>
    <div>
        <a href="" class="button" id="sensorDataButton">Show Sensor Data</a>
        <a href="" class="button" id="hideSensorDataButton">Hide Sensor Data</a>
    </div>
    <div>
        <canvas id="imu-chart"></canvas>
    </div>
    <div id=sensor-data-info>

    </div>
    <script>

        const ctx = document.getElementById('imu-chart');
        var pitch = [];
        var roll = [];
        var yaw = [];
        var numbers = [];
        var i = 0;


        const labels = numbers;
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Pitch',
                    data: pitch,
                    borderColor: 'red',
                    backgroundColor: 'red',
                    yAxisID: 'y',
                },
                {
                    label: 'Roll',
                    data: roll,
                    borderColor: 'blue',
                    backgroundColor: 'blue',
                    yAxisID: 'y1',
                },
                {
                    label: 'Yaw',
                    data: yaw,
                    borderColor: 'yellow',
                    backgroundColor: 'yellow',
                    yAxisID: 'y2',
                }
            ]
        };

        let charty = ''


        var shutdownButton = document.getElementById("shutdownButton");
        shutdownButton.addEventListener("click", function (e) {
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                window.location.replace("http://127.0.0.1:5000");
            };
            request.open("GET", "/shutoff", true);
            request.send();
        });

        //TODO: hide these buttons on welcome page
        var sensorDataButton = document.getElementById("sensorDataButton");
        sensorDataButton.addEventListener("click", function (e) {
                e.preventDefault();
                const request = new XMLHttpRequest();
                request.onload = function () {
                    const jsonRes = JSON.parse(request.response);
                    document.getElementById("sensor-data-info").innerHTML = request.response
                    pitch.push(jsonRes.pitch_roll_yaw[0]);
                    roll.push(jsonRes.pitch_roll_yaw[1]);
                    yaw.push(jsonRes.pitch_roll_yaw[2]);
                    labels.push(i);
                    i ++;

                    if (charty !== '') {
                        charty.destroy()
                    }

                    charty = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: true,
                            interaction: {
                                mode: 'index',
                                intersect: false,
                            },
                            stacked: false,
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Chart.js Line Chart - Multi Axis'
                                }
                            },
                            scales: {
                                y: {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                },
                                y1: {
                                    type: 'linear',
                                    display: false,
                                    {#position: 'right',#}

                                    // grid line settings
                                    grid: {
                                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                                    },
                                },
                                y2: {
                                    type: 'linear',
                                    display: false,
                                    {#position: 'right',#}

                                    // grid line settings
                                    grid: {
                                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                                    },
                                },
                            }

                        }
                    });
                }
                ;
                request.open("GET", "/sensor-data", true);
                request.send();
            }
        )
        ;

        var button = document.getElementById("hideSensorDataButton");
        button.addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("sensor-data-info").innerHTML = "";
            document.getElementById("imu-chart").innerHTML = "";
        });
    </script>


    {#    <hr/>#}

    <footer>
    </footer>
</div>
</body>
</html>