<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename = 'buttons.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <div class="button_div">
        <a href="" class="sensor-button" id="sensorDataButton">Show Sensor Data</a>
    </div>
    <div>
        <canvas id="imu-chart"></canvas>
    </div>
    <div id=sensor-data-info>
        <p id="battery-level"></p>
        {#        <p id="tf-luna-dist"></p>#}
        <p class= "data-text" id="raw-imu"></p>
        <p class= "data-text" id="pitch-roll-yaw"></p>
        {#        <p id="husky-lens"></p>#}
    </div>
    <div>
        <div class="navbar" id="navbar">
            <a href="/home" class="active" onclick="myFunction()">Home</a>
            <a href="/pre-recorded" onclick="myFunction()">Pre Recorded</a>
            <a href=/record-new onclick="myFunction()">Record New</a>
            <a href=/sensor-data-page onclick="myFunction()">Sensor Data</a>
            <a href="" class="shutdown-button" id="shutdownButton">SHUTDOWN</a>
            {#    &#9776;#}
        </div>

    </div>

    <script>

        const ctx = document.getElementById('imu-chart');
        var pitch = [];
        var roll = [];
        var yaw = [];
        var numbers = [];
        var i = 0;


        const labels = numbers;
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Pitch',
                    data: pitch,
                    borderColor: 'purple',
                    backgroundColor: 'purple',
                    yAxisID: 'y',
                },
                {
                    label: 'Roll',
                    data: roll,
                    borderColor: 'blue',
                    backgroundColor: 'blue',
                    yAxisID: 'y',
                }
                {#,#}
                {#{#}
                {#    label: 'Yaw',#}
                {#    data: yaw,#}
                {#    borderColor: 'yellow',#}
                {#    backgroundColor: 'yellow',#}
                {#    yAxisID: 'y',#}
                {#}#}
            ]
        };

        let charty = ''


        var shutdownButton = document.getElementById("shutdownButton");
        shutdownButton.addEventListener("click", function (e) {
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                window.location.replace("/");
            };
            request.open("GET", "/shutoff", true);
            request.send();
        });

        function myFunction() {
            var x = document.getElementById("navbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }

        function updateData() {
            const request = new XMLHttpRequest();
            if (!shown) {
                return;
            }
            request.onload = function () {
                const jsonRes = JSON.parse(request.response);
                {#document.getElementById("battery-level").innerHTML = jsonRes.battery_level;#}
                {#document.getElementById("tf-luna-dist").innerHTML = "TF Luna Distance is: " + jsonRes.tf_luna_data;#}
                document.getElementById("raw-imu").innerHTML = "Raw IMU Data is: " + jsonRes.imu_data[0] + ", " + jsonRes.imu_data[1] + ", " + jsonRes.imu_data[2];
                {#document.getElementById("pitch-roll-yaw").innerHTML = "Pitch is: " + jsonRes.pitch_roll_yaw[0] + ", Roll is: " + jsonRes.pitch_roll_yaw[1] + ", and Yaw is: " + jsonRes.pitch_roll_yaw[2];#}
                document.getElementById("pitch-roll-yaw").innerHTML = "Pitch is: " + jsonRes.pitch_roll_yaw[0] + ", Roll is: " + jsonRes.pitch_roll_yaw[1];
                {#document.getElementById("husky-lens").innerHTML = "Husky Lens Data is: " + jsonRes.husky_lens_data;#}
                {#document.getElementById("battery-level-bar").innerHTML = jsonRes.battery_level + "%";#}
                {#document.getElementById("battery-level-bar").style.width = 79;#}
                {#document.getElementById("sensor-data-info").innerHTML = request.response#}
                pitch.push(jsonRes.pitch_roll_yaw[0]);
                roll.push(jsonRes.pitch_roll_yaw[1]);
                yaw.push(jsonRes.pitch_roll_yaw[2]);
                labels.push(i);
                i++;

                if (charty !== '') {
                    charty.destroy()
                }

                charty = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                        interaction: {
                            mode: 'index',
                            intersect: false,
                        },
                        stacked: false,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Chart.js Line Chart - Multi Axis'
                            }
                        },
                        scales: {
                            y: {
                                type: 'linear',
                                display: true,
                                position: 'left',
                            },

                        }

                    }
                });
            };
            request.open("GET", "/sensor-data", true);
            request.send();
            setTimeout(updateData, 2000)
        }

        // constantly collects data
        // window.onclick = updateData
        var shown = false;

        var sensorDataButton = document.getElementById("sensorDataButton");
        sensorDataButton.addEventListener("click", function (e) {
            e.preventDefault();
            if (!shown) {
                shown = true;
                document.getElementById("sensorDataButton").innerText = "Hide Sensor Data"
                document.getElementById("sensor-data-info").style.display = "block";
                document.getElementById("imu-chart").style.display = "block";
                window.onclick = updateData
            } else {
                shown = false;
                document.getElementById("sensorDataButton").innerText = "Show Sensor Data"
                document.getElementById("sensor-data-info").style.display = "none";
                document.getElementById("imu-chart").style.display = "none";
            }

        });
    </script>


    {#    <hr/>#}

    <footer>
    </footer>
</div>
</body>
</html>