<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename = 'buttons.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <div class="button_div">
        <a href="" class="shutdown-button" id="shutdownButton">SHUTDOWN</a>
    </div>
    <div>
        <a href="" class="button" id="sensorDataButton">Show Sensor Data</a>
        <a href="" class="button" id="hideSensorDataButton">Hide Sensor Data</a>
    </div>
    <div>
        <canvas id="imu-chart"></canvas>
    </div>
    <div id=sensor-data-info>

    </div>
    <script>

        const ctx = document.getElementById('imu-chart');

        var shutdownButton = document.getElementById("shutdownButton");
        shutdownButton.addEventListener("click", function (e) {
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                window.location.replace("http://127.0.0.1:5000");
            };
            request.open("GET", "/shutoff", true);
            request.send();
        });

        //TODO: hide these buttons on welcome page
        var sensorDataButton = document.getElementById("sensorDataButton");
        sensorDataButton.addEventListener("click", function (e) {
            e.preventDefault();
            const request = new XMLHttpRequest();
            request.onload = function () {
                const jsonRes = JSON.parse(request.response);
                {#console.log(jsonRes.pitch_roll_yaw);#}
                document.getElementById("sensor-data-info").innerHTML = request.response
                localStorage.setItem("pitch", localStorage.getItem("pitch") + "," + jsonRes.pitch_roll_yaw[0])
                localStorage.setItem("roll", localStorage.getItem("roll") + "," + jsonRes.pitch_roll_yaw[1])
                localStorage.setItem("yaw", localStorage.getItem("yaw") + "," + jsonRes.pitch_roll_yaw[2])
                var pitch = [];
                var stringPitch = localStorage.getItem("pitch").split(",");
                console.log(stringPitch)
                for(const i in stringPitch){
                    pitch.push(parseInt(i));
                }

                var roll = [];
                for(const i in localStorage.getItem("roll").split(",")){
                    roll.push(parseInt(i));
                }
                var yaw = [];
                for(const i in localStorage.getItem("yaw").split(",")){
                    yaw.push(parseInt(i));
                }
                new Chart(ctx, {
            data: {
                datasets: [{
                    type: 'line',
                    label: 'Pitch',
                    data: [pitch]
                }, {
                    type: 'line',
                    label: 'Roll',
                    data: [roll]
                }, {
                    type: 'line',
                    label: 'Yaw',
                    data: [yaw]

                }
                ],
                labels: []
            },
            options: {
                title: "Raw IMU Data"
            }
        });

            };
            request.open("GET", "/sensor-data", true);
            request.send();
        });

        var button = document.getElementById("hideSensorDataButton");
        button.addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("sensor-data-info").innerHTML = "";
            document.getElementById("imu-chart").innerHTML = "";
        });
    </script>


    {#    <hr/>#}

    <footer>
    </footer>
</div>
</body>
</html>