{% extends "layout.html" %}
{% block title %}
    Pre Recorded Movements
{% endblock %}
{% block content %}
    <h1>Pre Recorded Movements</h1>
    <div>
        <div class='child' style="display:inline-block">
            <p>Select a movement to add to the Queue</p>
            <button id = "waveButton" class="command command">Wave</button>
            <button id = "clapButton" class="command command">Clap</button>
            <button id = "handLoopButton" class="command command">Hand Loop</button>
            <button id = "" class="command command">Something Else</button>
            <button id = "" class="command command">Something Else</button>
            {#            {% for label, command in commands.items() %}#}
            {#                <button class="command command-{{ command }}" value="{{ command }}">#}
            {#                    {{ label }}#}
            {#                </button>#}
            {#            {% endfor %}#}
        </div>
        <div class='child' style="display:inline-block">
            <p>Queue Preview</p>
            <div>
{#                <a href="queue" class="button">View Queue</a>#}
                <p id="queue"></p>
                <button id="runButton">RUN</button>
    <p id="running"></p>
            </div>
        </div>
    </div>

    <script>
    var waveButton = document.getElementById("waveButton");
        waveButton.addEventListener("click", function (e) {
            e.preventDefault();
            localStorage.setItem("queue", localStorage.getItem("queue") + ", wave");
            console.log("LOCAL STORAGE LIST = " + localStorage.getItem("queue"))
            const waveP = document.createElement("p");
            waveP.innerText = "Wave";
            document.getElementById("queue").append(waveP);
        });
        var clapButton = document.getElementById("clapButton");
        clapButton.addEventListener("click", function (e) {
            e.preventDefault();
            localStorage.setItem("queue", localStorage.getItem("queue") + ", clap");
            console.log("LOCAL STORAGE LIST = " + localStorage.getItem("queue"))
            const clapP = document.createElement("p");
            clapP.innerText = "Clap";
            document.getElementById("queue").append(clapP);
            const up = document.createElement("button");
                up.innerText = "+";
                document.getElementById("queue").append(up);
            {#document.getElementById("queue").innerText += "clap";#}
        });
        var handLoopButton = document.getElementById("handLoopButton");
        handLoopButton.addEventListener("click", function (e) {
            localStorage.setItem("queue", localStorage.getItem("queue") + ", hand loop");
            console.log("LOCAL STORAGE LIST = " + localStorage.getItem("queue"))
            const handLoopP = document.createElement("p");
            handLoopP.innerText = "Hand Loop";
            document.getElementById("queue").append(handLoopP);
        });

        const runButton = document.getElementById("runButton");
        runButton.addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("running").innerHTML = "executing" //before
            const request = new XMLHttpRequest();
            request.onload = function () {
                {#console.log(request.response);#}
                document.getElementById("running").innerHTML = request.response //after
            };
            request.open("POST", "/run", true);
            request.setRequestHeader("Content-Type", "application/json");
            console.log(JSON.stringify(localStorage.getItem("queue")))
            request.send(JSON.stringify((localStorage.getItem("queue"))));
    </script>







{#            const request = new XMLHttpRequest();#}
{#            request.onload = function () {#}
{#                document.getElementById('walkMessage').innerHTML = request.response;#}
{#            };#}
{#            request.open("GET", "/walk-start", true);#}
{#            request.send();#}
{#        });#}
{#    </script>#}


{% endblock %}