{% extends "layout.html" %}
{% block title %}
    Queue
{% endblock %}
{% block content %}
    <h1>Koalby's Queue</h1>

    <div id="queueBox">

        <script type="text/javascript">
            localStorage.setItem("queue", {{ queueElements|tojson}})
            console.log("LOCAL STORAGE LIST = " + localStorage.getItem("queue"))
            queueView()
        </script>

    </div>
    <button id ="runButton">RUN</button>
    <p id="running"></p>
    <script>
        const button = document.getElementById("runButton");
        button.addEventListener("click", function (e) {
        e.preventDefault();

        const request = new XMLHttpRequest();
        request.onload = function () {
            console.log(request.response);
            document.getElementById("running").innerHTML = "Executing"
        };
        request.open("GET", "/run" + localStorage.getItem("queue"), true);
        request.send()
        });
    </script>

{% endblock %}