{% extends "layout.html" %}
{% block title %}
    Queue
{% endblock %}
{% block content %}
    <h1>Koalby's Queue</h1>

    <div id="queueBox">

    </div>
    <button id="runButton">RUN</button>
    <p id="running"></p>
    <script>

        function showQueue() {
            const primList = localStorage.getItem("queue").split(", ");
            for (let prim in primList) {
                if (prim === "0") { //don't show null
                    continue;
                }
                {#console.log(primList[prim])#}
                const p = document.createElement("p");
                p.innerText = primList[prim];
                document.getElementById("queueBox").append(p);
                {#data.append(prim, primList[prim]);#}
                {#console.log(data)#}
            }
        }

        window.onload = showQueue

        const runButton = document.getElementById("runButton");
        runButton.addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("running").innerHTML = "executing" //before
            const request = new XMLHttpRequest();
            request.onload = function () {
                {#console.log(request.response);#}
                document.getElementById("running").innerHTML = request.response //after
            };
            request.open("POST", "/run", true);
            request.setRequestHeader("Content-Type", "application/json");
            console.log(JSON.stringify(localStorage.getItem("queue")))
            request.send(JSON.stringify((localStorage.getItem("queue"))));
        });
    </script>

{% endblock %}