{% extends "layout.html" %}
{% block title %}
    Record New Movement
{% endblock %}
{% block content %}
    <div class="header">
        <h1>Record New Movements</h1>
    </div>
    <div>
        <div class='child' style="display:inline-block">
            <a href=tutorial class="tutorial-button">Help</a>
            <p>How many positions would you like to record?</p>
            <form>
                <div class="posesInputGroup">
                    <label for="poses">Enter amount of positions to record:</label>
                    <input type="number" id="poseNum">
                    {#                    <span class="validity"></span>#}
                </div>
                <div class="posesInputGroup">
                    <label for="file">Enter the new filename you would like to use:</label>
                    <input type="text" id="fileName">
                </div>
                <div>
                    <button id="submit-button" type="button">Submit</button>
                </div>
                <div id="additionDiv">
                    <p id="numPoses"></p>
                    <button id="record-button" style="display: none">Press To Record Pose</button>
                    <p id="recordingSpot"></p>
                </div>
            </form>
        </div>
    </div>

    <script>
        let x = 0;
        let firstNum = 0;
        let enteredName = "";

        var recordButton = document.getElementById("record-button");

        var submitButton = document.getElementById("submit-button");
        submitButton.addEventListener("click", function (e) {
            e.preventDefault();
            console.log("Submit pressed")
            x = document.getElementById("poseNum").value;
            const div = document.getElementById("numPoses");
            enteredName = document.getElementById("fileName").value;
            div.innerText = "Your new file is called " + enteredName + ". You chose to record " + x + " poses. You can now begin recording."
            firstNum = x;
            console.log(x);

            const ticker = document.createElement("p");
            ticker.id = "ticker"
            const text = document.createTextNode("You have " + x + " more poses to record");
            ticker.appendChild(text);
            div.appendChild(ticker);
            document.getElementById("record-button").style.display = "block";
        });

        recordButton.addEventListener("click", function (e) {
            x -= 1;
            if (x === 0) {
                recordButton.disabled = "true"
            }
            document.getElementById('recordingSpot').innerHTML = "recording";
            const request = new XMLHttpRequest();
            request.onload = function () {
                document.getElementById('recordingSpot').innerHTML = request.response;
            };
            request.open("POST", "/record-one-new/", true);
            request.setRequestHeader("Content-Type", "application/json");
            var isFirst;
            if (x === firstNum - 1) {
                isFirst = true;
            } else {
                isFirst = false;
            }
            request.send(JSON.stringify({"fileName": enteredName, "firstTime": isFirst}));
            console.log(JSON.stringify({"fileName": enteredName, "firstTime": isFirst}));
            e.preventDefault();
            document.getElementById("ticker").innerText = ("You have " + x + " more poses to record");
        });

    </script>

{% endblock %}