{% extends "layout.html" %}
{% block title %}
Welcome
{% endblock %}
{% block content%}
<h1>Welcome to Koalby's UI!</h1>
<p>Press the Start button to initialize him and see what he can do.</p>
<div>
    <a href = "" class="init-button" id="initializeButton">Start</a>
    <p id = "failureSpot"></p>
    <div id="loader" style="display: none" class="loader"></div>
<script>
    function clearStorage(){
        localStorage.clear()
    }
    function hideButtons(){
        document.getElementById("sensorDataButton").style.display = "none";
        document.getElementById("shutdownButton").style.display = "none";
        document.getElementById("navbar").style.display = 'none';
    }
    window.onload = clearStorage
    window.onload = hideButtons


    var realRobotButton = document.getElementById("initializeButton");
    realRobotButton.addEventListener("click", function (e) {
        e.preventDefault();
        document.getElementById("loader").style.display = "block"
        const request = new XMLHttpRequest();
        request.onload = function () {
            console.log(request.response);
            if (request.response === "0"){
                document.getElementById("loader").style.display = "none"
                document.getElementById("failureSpot").innerHTML = "Not connected to robot"
            }
            else{
                window.location.replace("/home");
            }

        };
        request.open("GET", "/init", true);
        request.send(); });

        </script>
{#<script type=text/javascript>#}
{#        $(function() {#}
{#          $('a#test').on('click', function(e) {#}
{#            e.preventDefault()#}
{#            $.getJSON('/init-Simulation',#}
{#                function(data) {#}
{#                console.log(data)#}
                {#if (data === 0){#}
                {#    document.getElementById("failureSpot").innerHTML = "Not connected to remote API server"#}
{##}
                {#else{#}
                {#    window.location.replace("http://127.0.0.1:5000/home");#}
{##}
{#            });#}
{#            return false;#}
{#          });#}
{#        });#}
{#</script>#}

</div>
{% endblock %}